body {
    display:flex;
    background-color: rgb(29, 41, 80);
    margin:none;
    justify-content: center;

}
p {
    
    font-size:40px;
    font-family: 'Monoton', cursive;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 80px);
    grid-template-rows: repeat(6, 80px);
}

.cell {
    border-width:2px;
    border-style:solid;
    border-color:#d2d2d2;
    display: flex;
    background-color: rgb(255, 255, 255);
    margin: 3px 3px 3px 3px;
    justify-content: center;
    align-items: center;
}
.cell p {
    color:rgb(0, 0, 0);
}

.green-cell {
    display: flex;
    background-color: rgb(76, 190, 84);
    margin: 3px 3px 3px 3px;
    justify-content: center;
    align-items: center;

}
.green-cell p {
    color:white;
}

.yellow-cell {
    display: flex;
    background-color: rgb(211, 205, 83);
    margin: 3px 3px 3px 3px;
    justify-content: center;
    align-items: center;
}
.yellow-cell p {
    color:white;
}

.grey-cell {
    display: flex;
    background-color: rgb(154, 154, 154);
    margin: 3px 3px 3px 3px;
    justify-content: center;
    align-items: center;
}
.grey-cell p {
    color:white;
}

